body {
    background-color: #3f3f3f;
    font-family:'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    color: #fff;
    margin: 20px auto;
}
.contenedor-calculadora {
    margin: auto;
    max-width: 400px;
    height: 500px;
    border: 5px solid #eeeeee;
}
.input {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    background-color: #1b1b1b;
    color: #fff;
    padding: 10px 30px 15px 15px;
}
.fila {
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-contenedor, .boton-clear {
    height: 75px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #3a3a3a;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.boton-contenedor:hover {
    background-color: #21007a;
}
.operador {
    background-color: #024a00;
}
.operador:hover {
    background-color: #d86100;
}
.boton-clear {
    background-color: #880000;
}
.boton-clear:hover {
    background-color: #867700;
}
